body {
  font-family: "Raleway", sans-serif;
}

/* Nav section */

.navbar-brand h3 {
  font-weight: 700;
  margin: 0;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/dc1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

header p {
  text-align: right;
  text-shadow: 4px 4px 4px black;
}



/* PLATOS */

#Platos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Platos {
  /*background-color: #5b8d3e;*/
  background-image: url("../img/p4.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Platos h5 {
  text-align: center;
}

#Platos h2 {
text-shadow: 4px 4px 4px black;
}

/* Contacto */

#Contacto {
  background-image: url("../img/brindis2.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

#Contacto h3 {
  padding-bottom: 15px;
}

/* Contacto */

/* #Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
 */